body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #f2f2f2;
}

.topnav {
  overflow: hidden;
  background-color: #368058;
  text-align: center;
}

.topnav h4 {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.buttonLeft {
	position:absolute;
	bottom:0px;
	margin-left:0%;
	width:50%;
	height:30px;
	line-height:30px;
	text-align:center;
	background:red;
}  

.buttonRight {
	position:absolute;
	bottom:0px;
	margin-left:50%;
	width:50%;
	height:30px;
	line-height:30px;
	text-align:center;
	background:green;
}  